* {
    margin: 0;
    padding: 0;
}

.firstPass {
    position: absolute;
    width: 800px;
    height: 600px;
    left: 50%;
    top: 50%;
    margin-top: -300px;
    margin-left: -400px;
    background-color: deepskyblue;
}

.nextPass {
    background-image: url("images/nextPass.jpg");
    background-size: 100% 100%;
    position: absolute;
    display: none;
    opacity: 0.8;
    width: 480px;
    height: 350px;
    left: 50%;
    top: 50%;
    margin-left: -240px;
    margin-top: -175px;
}
.point {
    width: 200px;
    height: 150px;
    position: absolute;
    left: 75%;
    line-height: 150px;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 40px;
    background-color: deepskyblue;
}

.people {
    background-image: url("images/people.jpg");
    background-size: 100% 100%;
}
.wall {
    background-image: url("images/well.jpg");
    background-size: 100% 100%;
}
.box {
    background-image: url("images/box.jpg");
    background-size: 100% 100%;
}
.target {
    background-image: url("images/target.jpg");
    background-size: 100% 100%;
}